<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      var ajax = new XMLHttpRequest();
      ajax.open('post', `http://localhost:3500/getBodyData`, true);
      let bookname = '水浒传';
      let author = '施耐庵';
      let publisher = '北京图书出版社';
      ajax.send(JSON.stringify({ bookname, author, publisher }));
      ajax.onload = function () {
        console.log(ajax.response);
      };
    </script>
  </body>
</html>
